@import 'langs';

code.hljs {
   --cbi-name: "plain text";
   --cbi-icon: #{svg('./icons/vscode-material-icon-theme/icons/file.svg')};
}

@mixin language($name, $classes, $icon) {
   code.hljs.#{list.nth($classes, 0)} {
      --cbi-name: "#{$name}";
      --cbi-icon: #{svg("./icons/" + $icon + ".svg")};
   };
}
 
@each $icon, $data in $langs { 
   @include language(map.get($data, name), map.get($data, class), $icon);
}