$langs: actionscript, applescript, arduino, html, xml, asciidoc, autohotkey, autoit, brainfuck, c, clojure, cmake, coffee, crystal, css, d, markdown, dart, diff, django, elixir, elm, 'ruby', erlang, fortran, fsharp, go, gradle, groovy, haml, handlebars, haskell, haxe, http, java, javascript, json, julia, kotlin, lisp, livescript, lua, makefile, mathematica, matlab, perl, moonscript, nix, ocaml, php, powershell, processing, prolog, puppet, python, 'r', rust, sas, scala, scheme, sml, stylus, swift, yaml, tcl, twig, typescript, vala, verilog, vim;
$langs_alt: (
    as: actionscript, asm: assembly, bash: console, 
    csharp: c, coffeescript: coffee, cs: csharp, 
    md: markdown, dockerfile: docker, dsconfig: settings,
    'erlang-repl': erlang, fs: fsharp, htmlbars: html, 
    js: javascript, julia-repl: julia, 'php-template': php, 
    'profile': 'python-misc', py: python, 'python-repl': python,
    reasonml: reason, ts: typescript
);

code.hljs {
   --cbi-name: "plain text";
   --cbi-icon: #{svg('./icons/vscode-material-icon-theme/icons/file.svg')};
}

@mixin icon($id, $path) {
   code.hljs.#{$id} {
      --cbi-name: "#{$path}";
      --cbi-icon: #{svg("./icons/vscode-material-icon-theme/icons/" + $path + ".svg")};
   };
}

/* Special case cause bad */
code.hljs.scss {
   --cbi-name: "scss";
   --cbi-icon: #{svg("./icons/vscode-material-icon-theme/icons/sass.svg")};
};
 
@each $lang in $langs { @include icon($lang, $lang) }

@each $id, $path in $langs_alt { @include icon($id, $path) }