@import 'langs';

code.hljs {
   --cbi-name: "plain text";
   /*--cbi-icon: #{svg('./icons/vscode-material-icon-theme/icons/file.svg')};*/
}

@mixin language($name, $classes, $icon) {
   $selector: "";
    
   @each $i, $class in $classes {
      $proceeding: "";
      @if ($i != 0) { $proceeding: ","; }
      $selector: $selector + $proceeding + "code.hljs." + $class;
   }
   
   #{$selector} {
      --cbi-name: "#{$name}";
      --cbi-icon: #{svg("./icons/" + $icon + ".svg")};
   };
}
 
@each $name, $data in $langs {
   @include language($name, map_get($data, class), map_get($data, icon));
}