@import 'icons';

.powercord-codeblock-lang::before {
    margin-right: 4px; margin-left: -5px;

    padding: 2px 10px 0px 10px;
    content: "";

    background: var(--cbi-icon) center/70% no-repeat;
}