@import 'icons';
@import 'lines';

$shade: rgba(0, 0, 0, 0.2);

.markup-2BOw-j > pre {
   position: relative; overflow: hidden;
   margin-bottom: 5px; background-color: $shade;

   /* Line Numbers */
   &::before {
      position: absolute;
      width: 20px; 

      border-right: 1px solid $shade;

      padding: 0px 4px; text-align: center; line-height: 1.125rem;

      content: var(--cbi-lines);
   }

   &>code.hljs {
      padding: 25px 0.25em 0px 35px !important;
      overflow: hidden;

      /* Language Header */
      &::before {
         position: absolute;
         width: 100%; height: 22px;
         top: 0; left: 0;

         border-bottom: 1px solid $shade;

         display: flex; align-items: center;

         /* Icon */
         background-position: 5px;
         background-size: 15px;

         background: var(--cbi-icon) no-repeat;

         /* Name */
         padding-left: 32px;
         color: var(--text-normal); font-size: 0.8em;
         text-transform: uppercase; font-weight: bold;
         font-family: "Raleway", sans-serif;

         content: var(--cbi-name);
      }
   }
}