@import 'langs';

$shade: rgba(0, 0, 0, 0.2);

.markup-2BOw-j > pre {
   position: relative; overflow: hidden;
   margin-bottom: 5px; background-color: $shade;

   /* Line Numbers */
   &::before {
      position: absolute;

      border-right: 1px solid $shade;

      padding: 0px 4px; text-align: center; line-height: 1.125rem;

      $lines: "";

      @for $i from 1 through 999 { $lines: $lines + $i + "\a"; }

      content: $lines;
   }
}

code.hljs {
   --cbi-name: "plain text";
   --cbi-icon: #{svg('./icons/vscode-material-icon-theme/icons/file.svg')};
}

@each $name, $data in $langs {
   $icon: map_get($data, icon);

   $selector: "";
    
   @each $i, $class in map_get($data, classes) {
      $proceeding: "";
      @if ($i != 0) { $proceeding: ","; } 
      
      $selector: $selector + $proceeding + "code.hljs." + $class;
   }
   
   #{$selector} {
      --cbi-name: "#{$name}";

      @if ($icon != 'false') { --cbi-icon: #{svg("./icons/" + $icon + ".svg")}; }
   };
}
